body {
  text-align: center;
  background-position: center;
  background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148808256.jpg?w=2000");
	font-family: "Roboto", sans-serif;
  justify-content: center;
}


footer {
	align-items: flex-end;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 28vh;
}

#chartIcon {
	margin-right: 50px;
}

.app__header {
	flex: 0.05;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 45px 0px;
	background-color: #00ff00c5;

	border-bottom: 1px solid lightgrey;
}
